$primary-color: #ED1851;
$secondary-color: #fff;

$primary-text-color: #000;
$secondary-text-color: #8B8B8B;

$primary-hover: #fff;

$primary-background: #F9F9F9;
$secondary-background: #fff;
$dark-background: #404040;

$primary-border: #eeeeee;
